In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_excel(r'C:\Users\siva\Desktop\StudentsPerformance.csv')
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [4]:
data.shape

(1000, 8)

In [9]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
data.mean()

C:\Users\siva\AppData\Local\Temp\ipykernel_2032\531903386.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

math score       66.001
reading score    69.195
writing score    68.119
dtype: float64

In [10]:
data['math score'].mean()

66.001

In [11]:
data['math score'].median()

66.0

In [12]:
data['math score'].mode()

0    65
Name: math score, dtype: int64

In [13]:
data['math score'].var()

242.4114104104103

In [14]:
data['math score'].std()

15.569566802271998

In [15]:
data['math score'].skew()

-0.40117390503900024

In [16]:
data['math score'].quantile(0.25)

57.0

In [17]:
data['math score'].quantile([0.25,0.5,0.75])

0.25    57.0
0.50    66.0
0.75    77.0
Name: math score, dtype: float64

In [18]:
import statistics as  stat

In [19]:
 stat.mean(data['math score'])

66.001

In [20]:
stat.variance(data['math score'])

242.4114104104104

In [21]:
stat.stdev(data['math score'])

15.569566802272002

In [23]:
data['reading score'].mean()

69.195

In [25]:
data['reading score'].median()

70.0

In [27]:
data['reading score'].mode()

0    72
Name: reading score, dtype: int64

In [28]:
data['reading score'].var()

216.27925425425406