In [2]:
import pandas as pd
data4=pd.read_csv(r'C:\Users\siva\Downloads\Sales_add.csv')
data4.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [ ]:
The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

In [16]:
from statsmodels.stats.weightstats import ztest

In [17]:
z_stat4,p_val4=ztest(data4['Sales_After_digital_add(in $)'],data4['Sales_After_digital_add(in $)'],value=0)
p_val4

1.0

In [7]:
if p_val4<0.05:  #0.5 Level of significance
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted

In [ ]:
The company needs to check whether there is any dependency between
thefeatures “Region” and “Manager”.

In [23]:
z_stat4,p_val4=ztest(data4['Manager'],data4['Region'],value=0)
p_val4

TypeError: ufunc 'divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [11]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [4]:
data4.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64